@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(100deg, #72EDF2 10%, #5151E5);
    font-family: 'Montserrat', sans-serif;
}
.all{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 3rem auto;
    flex-direction: column;
}
.weather{
    box-sizing: border-box;
    background-color: transparent;
    transition: all 0.3s ease-out;
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-radius: 15px;
    width: 50%;
}
.weather h1{
    color: white;
}

.weather input{
    border: none;
    border-bottom: 1.3px solid navy;
    font-size: 1rem;
    padding-left:1rem ;
    margin-top: 2rem;
    background-color:transparent;
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: white;
    width: 300px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
}
.weather input:focus{
    outline: none;
}
.weather button{
    background-color: navy;
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 8px;
    margin-left: 0.8rem;
    cursor: pointer;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
}
.weather input:hover {
    transition: 350ms;
    transform: scale(1.1);
}
.weather button:hover{
    box-shadow: inset 300px 0px 0px 0px #5151E5;
    transition: 350ms;
    transform: scale(1.1);
}
.result{
    box-shadow: 1px 1px 5px #5151E5 ;
    margin-top: 2rem;
    padding: 3rem;
    color: black;
    text-align: start;
    transition: all 0.3s ease-out;
    border-radius: 8px;
    background-color: white;
    display: none;
}
.result span {
    font-size: 3rem; 
}
.latlon{
    display: flex;
}
.lat{
    margin-left: auto;
}
.comment{
    text-transform: uppercase;
    
}

@media screen and (max-width: 500px) {
    .weather{
        width: 70%;
    }
    .weather button{
        font-size: 0.7rem;
    }
    .weather input{
        width: 70%;
    }
    .weather h1{
        font-size: 1.5rem;
    }

}